1. OfflineOne/out/
1. OfflineOne/.idea/
1. OfflineOne/OfflineOne.iml

2. OfflineTwo/out/
2. OfflineTwo/.idea/
2. OfflineTwo/OfflineTwo.iml

2. OfflineThree/out/
2. OfflineThree/.idea/
2. OfflineThree/OfflineThree.iml